/*paleta de cores*/
.paletas {
   color: #f8f4c4;
   color: #d5e0b5;
   color: #a5c3a7;
   color: #6d8b89;
   color: #47667b;
}



body {
   margin: 0%;
   padding: 0%;
   border: 0%;
   background-color: #f8f4c4;
}

nav {
   position: fixed;
   display: block;
   width: 100%;
   height: 3rem;
   background: #47667b;
   border: 2px;
}

.labelCadastro {
   font-size: 2rem;
   text-align: left;
}

.inputCadastro {
   background-color: #fffcde;
   color: #3b5e75;
   border-radius: 10px;
   padding: 7px;
   font-size: medium;
   border-color: #a5c3a7;
}


.inputEnviar {
   background-color: #fffcde;
   color: #3b5e75;
   border-radius: 10px;
   padding: 3px;
   font-size: x-large;
   font-weight: 700;
   border-color: #a5c3a7;
   border-style: inset;
}

.aindex {
   text-decoration: none;
   color: #3b5e75;
   font-weight: 800;
   background-color: #d5e0b5;
   margin: 5px;
   padding: 2px;
}

.re {
   height: 3rem;
   margin-left: 5px;
   position: fixed;
}

.centralizado {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   color: #47667b;
   font-weight: 700;
   text-align: center;
}

.menus {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-decoration: none;
   font-size: 2rem;
}

.divCadastro {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: stretch;
}

.divCadastro1 {
   width: 50rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: stretch;
}

.formCadastro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-decoration: none;
   font-size: 2rem;
   width: 50%;
   align-items: stretch;
}

.tabela {
   border: outset;
   background-color: #fffcde;
   font-size: 2rem;
   width: 100%;
}

.inputCadastro.Lista {
   width: 80%;
   padding: 1px;
   font-size: 2rem;
   margin-bottom: 1rem;
}

.inputEnviar.Lista {
   padding: 1px;
   font-size: 2rem;
   margin-bottom: 1rem;
   width: 15%;
}


th {
   border: inset;
   border-color: #6d8b89;
   border-width: 3px;
}

.lid {
   background-color: #f1efd3;
}